<?xml version="1.0" encoding="UTF-8"?>
<!-- 이 문서는 mybatis 환경 설정 파일입니다. -->
<!DOCTYPE configuration PUBLIC "//mybatis.org/DTD Config 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-config.dtd">
      
<configuration>
	<!-- DB연동에 사용할 properties파일 정보 설정하기 -->
	<properties resource="kr/or/ddit/mybatis/config/dbinfo.properties"/>

	
	<!-- mybatis 설정과 관련된 기본 셋팅 선언 -->
	<settings>
		<!-- 데이터가 null로 전달이 되었으면 빈칸으로 인지하지 말고 null로 인식해라. -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
   
   <!-- SQL문의 파라미터나 결과를 저장할 객체를 지정할 때 패키지명까지 포함한 전체 이름을 
         지정해 주어야 하는데 그것을 짧은 이름으로 사용할 별칭을 설정한다.-->
	<typeAliases>
		<typeAlias alias="movieVo" type="kr.or.ddit.movie.vo.MovieVO"/>
		<typeAlias alias="clientVo" type="kr.or.ddit.client.vo.ClientVO"/>
		<typeAlias alias="managerVo" type="kr.or.ddit.manager.vo.ManagerVO"/>
		<typeAlias alias="cinemaVo" type="kr.or.ddit.cinema.vo.CinemaVO"/>
		<typeAlias alias="shopVo" type="kr.or.ddit.shop.vo.ShopVO"/>
		<typeAlias alias="shciVo" type="kr.or.ddit.shop.vo.ShCiVO"/>
		<typeAlias alias="bookingVo" type="kr.or.ddit.booking.vo.BookingVO"/>
		<typeAlias alias="timeTableVo" type="kr.or.ddit.timetable.vo.TimeTableVO"/>
		<typeAlias alias="theaterVo" type="kr.or.ddit.theater.vo.TheaterVO"/>
		<typeAlias alias="screeningVo" type="kr.or.ddit.screening.vo.ScreeningVO"/>
		<typeAlias alias="seatVo" type="kr.or.ddit.seat.vo.SeatVO"/>
		<typeAlias alias="reservationVo" type="kr.or.ddit.seat.vo.SeatVO"/>
		<typeAlias alias="seatRsvVo" type="kr.or.ddit.seat_rsv.vo.SeatRsvVO"/>
		<typeAlias alias="moviePayVo" type="kr.or.ddit.movie_pay.vo.MoviePayVO"/>
		<typeAlias alias="noticeVo" type="kr.or.ddit.board.vo.NoticeVO"/>
		<typeAlias alias="qnaVo" type="kr.or.ddit.board.vo.QnAVO"/>
		<typeAlias alias="replyVo" type="kr.or.ddit.board.vo.ReplyVO"/>
		<typeAlias alias="showReservationVo" type="kr.or.ddit.booking.vo.ShowReservationVO"/>
	</typeAliases>
   
	<!-- DB에 연결작업 ==> 위에서 가져온 properties파일의 내용을 이용하여 설정한다. -->
	<environments default="oracleEnv">
		<environment id="oracleEnv">
		<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${user}"/>
				<property name="password" value="${pass}"/>
			</dataSource>
		</environment>
	</environments>
	
	<!-- DB에 사용되는 SQL문이 작성된 mapper 파일들을 등록한다,-->
	<mappers>
		<mapper resource="kr/or/ddit/mybatis/mappers/movie-mapper.xml"/>
		<mapper resource="kr/or/ddit/mybatis/mappers/client-mapper.xml"/>
		<mapper resource="kr/or/ddit/mybatis/mappers/manager-mapper.xml"/>
		<mapper resource="kr/or/ddit/mybatis/mappers/cinema-mapper.xml"/>
		<mapper resource="kr/or/ddit/mybatis/mappers/shop-mapper.xml"/>
		<mapper resource="kr/or/ddit/mybatis/mappers/booking-mapper.xml"/>
		<mapper resource="kr/or/ddit/mybatis/mappers/theater-mapper.xml"/>
		<mapper resource="kr/or/ddit/mybatis/mappers/screening-mapper.xml"/>
		<mapper resource="kr/or/ddit/mybatis/mappers/seat-mapper.xml"/>
		<mapper resource="kr/or/ddit/mybatis/mappers/timeTable-mapper.xml"/>
		<mapper resource="kr/or/ddit/mybatis/mappers/notice-mapper.xml"/>
		<mapper resource="kr/or/ddit/mybatis/mappers/qna-mapper.xml"/>
		<mapper resource="kr/or/ddit/mybatis/mappers/reply-mapper.xml"/>
	</mappers>
	   
</configuration>