<?xml version="1.0" encoding="UTF-8"?>
<!-- 이 문서는 mybatis에서 처리할 SQl문을 작성하는 문서입니다. -->
<!DOCTYPE mapper PUBLIC "-//myabatis.org//DTD Mapper 3.0/EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="manager">

<!-- 로그인  -->
	<select id="loginManager" parameterType="managerVo" resultType="int">
		select count(*) from manager where mg_id =#{mg_id} and mg_pw = #{mg_pw}
	</select>
	

</mapper>